body {
    background-color: rgb(31, 31, 31);
}

textarea {
    background-color: gray;
    resize: none;
}

button {
    position: absolute;
    left: 40%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
    position: absolute;
    left: 44%;
    border: none;
    color: rgb(31, 31, 31);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.page
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: rgb(31, 31, 31);
}